{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
        <h1>{{ heading_title }}</h1>
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        </div>
        <div class="panel-body">
          <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
              <div class="col-sm-10">
                <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                {% if error_name %}
                <div class="text-danger">{{ error_name }}</div>
                {% endif %}
              </div>
            </div>
            <div class="form-group">
                  <div class="col-sm-6">
                    <label class="col-sm-4 control-label" for="input-bgimage">{{ entry_banner }}</label>
                      <div class="col-sm-8">
                        <a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                          <input type="hidden" name="bgimage" value="{{ bgimage }}" id="input-bgimage" />
                      </div>
                  </div>  
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bg-color">{{ entry_bgcolor }}</label>
                <div class="col-sm-8">
                  <input type="text" name="bg_color" class="form-control color" data-swatches="#fff|#000|#f00|#0f0|#00f|#ff0|rgba(0,0,255,0.5)"  value="{{ bg_color }}">
                </div>
              </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-title1-{{ language.language_id }}">{{ entry_title }}</label>
                <div class="col-sm-10">
                  {% for language in languages %}
                  <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                    <input type="text" name="title1[{{ language.language_id }}]" value="{{ title1[language.language_id] }}" placeholder="{{ entry_title }}" class="form-control" required id="input-title1-{{ language.language_id }}" />
                    {% if error_title1[language.language_id] %}
                    <div class="text-danger">{{ error_title1[language.language_id] }}</div>
                    {% endif %}
                  </div> 
                  {% endfor %}
                </div>
            </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-btntitle1-{{ language.language_id }}">{{ entry_btntitle }}</label>
                    <div class="col-sm-10">
                      {% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="btntitle1[{{ language.language_id }}]" value="{{ btntitle1[language.language_id] }}" placeholder="{{ entry_btntitle }}" class="form-control" required id="input-btntitle1-{{ language.language_id }}" />
                        {% if error_btntitle1[language.language_id] %}
                        <div class="text-danger">{{ error_btntitle1[language.language_id] }}</div>
                        {% endif %}
                      </div> 
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-link-1">{{ entry_link }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="ishi_banner1_link" value="{{ ishi_banner1_link }}" placeholder="{{ entry_link }}" class="form-control" id="input-link-1"/>
                    </div>
                  </div>
         <div class="form-group">
          <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
          <div class="col-sm-10">
            <select name="status" id="input-status" class="form-control">
              {% if status %}
              <option value="1" selected="selected">{{ text_enabled }}</option>
              <option value="0">{{ text_disabled }}</option>
              {% else %}
              <option value="1">{{ text_enabled }}</option>
              <option value="0" selected="selected">{{ text_disabled }}</option>
              {% endif %}
            </select>
          </div>
        </div>
  </form>
</div>
</div>
</div>
<style>
/* The switch - the box around the slider */
.show-title{
	display:none;
}
.show{
	display:block;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  </style>
<script type="text/javascript"><!--
$(".checkbox").change(function() {
    if(this.checked) {
       $('.show-title').attr("style", "display: block !important");
    }else{
		$('.show-title').attr("style", "display: none !important");
	}
});

  var service_row = {{ service_row }};

  function addService(language_id) {
   html  = '<tr id="service-row' + service_row + '">';
   html += '  <td class="text-center"><a href="" id="thumb-image' + service_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="service[' + language_id + '][' + service_row + '][image]" value="" id="input-image' + service_row + '" /></td>';
   html += '  <td class="text-left"><input type="text" name="service[' + language_id + '][' + service_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control" /></td>';	
   html += '  <td class="text-left" style="width: 30%;"><input type="text" name="service[' + language_id + '][' + service_row + '][description]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';	
   html += '  <td class="text-left"><button type="button" onclick="$(\'#service-row' + service_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
   html += '</tr>';
   
   $('#images' + language_id + ' tbody').append(html);
   
   service_row++;
 }
 //--></script>
  <script src="view/javascript/bootstrap/colorpicker/jquery.minicolors.js" type="text/javascript"></script>
  <link href="view/javascript/bootstrap/colorpicker/jquery.minicolors.css" type="text/css" rel="stylesheet"/>
  <script type="text/javascript"><!--
    $('#language a:first').tab('show');

    $(document).ready( function() {
      $('.color').each( function() {
        $(this).minicolors({
          control: $(this).attr('data-control') || 'hue',
          defaultValue: $(this).attr('data-defaultValue') || '',
          format: $(this).attr('data-format') || 'hex',
          keywords: $(this).attr('data-keywords') || '',
          inline: $(this).attr('data-inline') === 'true',
          letterCase: $(this).attr('data-letterCase') || 'lowercase',
          opacity: $(this).attr('data-opacity'),
          position: $(this).attr('data-position') || 'bottom',
          swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
          change: function(value, opacity) {
            if( !value ) return;
            if( opacity ) value += ', ' + opacity;
            if( typeof console === 'object' ) {
              console.log(value);
            }
          },
          theme: 'bootstrap',
        });
      });
    });
  //--></script>
  <script type="text/javascript">
    $(document).ready( function() {
      $('.themecolor').each( function() {
        $(this).minicolors({
          control: $(this).attr('data-control') || 'hue',
          defaultValue: $(this).attr('data-defaultValue') || '',
          format: $(this).attr('data-format') || 'hex',
          keywords: $(this).attr('data-keywords') || '',
          inline: $(this).attr('data-inline') === 'true',
          letterCase: $(this).attr('data-letterCase') || 'lowercase',
          opacity: $(this).attr('data-opacity'),
          position: $(this).attr('data-position') || 'bottom',
          swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
          change: function(value, opacity) {
            if( !value ) return;
            if( opacity ) value += ', ' + opacity;
            if( typeof console === 'object' ) {
              console.log(value);
            }
          },
          theme: 'bootstrap',
      change: function(hex, opacity) {
        jQuery('.panel .mail-preview iframe').contents().find(jQuery(this).attr('data-target')).css(jQuery(this).attr('data-property'), hex);
      }
        });

      });
    });
  </script>
  <link href="view/javascript/bootstrap/colorpicker/jquery.minicolors.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/bootstrap/colorpicker/jquery.minicolors.min.js"></script>
</div>
{{ footer }}