{{ header }}
<div class="container wrapper_container">
  <div class="row">
  	{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6 column_left' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9 column_center' %}
    {% else %}
    {% set class = 'col-sm-9 column_full' %}
    {% endif %}
    <div id="content" class="{{ class }} single-blog">{{ content_top }}

		<div class="breadcrumb-container">
		  <h1 class="page-title">{{ heading_title }}</h1>
		  <ul class="breadcrumb">
		    {% for breadcrumb in breadcrumbs %}
		    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		    {% endfor %}
		  </ul>
		</div>
      {% if (blogs['image']) %} 
  		<div class="blog-img">
  			<img src="{{ blogs['image'] }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-responsive" />
  		</div>
	  {% endif %}
	  <div class="blog-date">{{ date }}</div>
      <div class="page-item-title">
      	<h1>{{ heading_title }}</h1>
      </div>
	  <div class="blog-desc"> {{ description }} </div>
      {% if (success) %} 
      	<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
      {% endif %}
      <div class="smartblogcomments">
	      {% if (blog_comments) %} 
	      		<div class="reply-title">{{ text_your_comments }}</div>
		        {% for blog_comment in blog_comments %} 
			        <div class="view-comment">
        				<div class="user_icon"><i class="fa fa-user-o"></i></div>
        				<div class="user_list">
        					<div class="name">{{ entry_author }} : {{ blog_comment.author }}</div>
        					<div class="date">{{ text_date_added }} : {{ blog_comment.date_added }}</div>
        					<div class="comment-text">{{ blog_comment.comment }}</div>
        				</div>
			        </div>
		      {% endfor %} 
	      {% endif %}
	  </div>
      {% if allow_comments %}
	  <div class="block-title"><div class="reply-title">{{ button_comment_add }}</div></div>
      <div class="panel panel-default" id="add-comment">
        {% if (login_required and not is_logged) %} 
        	<h4 class="text-center">{{ text_login_required }}</h4>
        {% else %} 
	        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
	          <div class="form-group required">
	            <label class="col-sm-3 control-label" for="input-author">{{ entry_author }}</label>
	            <div class="col-sm-9">
	              <input type="text" name="author" value="{{ author }}" id="input-author" placeholder="{{ entry_author }}" class="form-control" />
	              {% if (error_author) %} 
	              <div class="text-danger">{{ error_author }}</div>
	              {% endif %} 
	            </div>
	          </div>
	          <div class="form-group required">
	            <label class="col-sm-3 control-label" for="input-email">{{ entry_email }}</label>
	            <div class="col-sm-9">
	              <input type="text" name="email" value="{{ email }}" id="input-email" placeholder="{{ entry_email }}" class="form-control" />
	              {% if (error_email) %} 
	              <div class="text-danger">{{ error_email }}</div>
	              {% endif %} 
	            </div>
	          </div>
	          <div class="form-group">
	            <label class="col-sm-3 control-label" for="input-comment">{{ entry_comment }}</label>
	            <div class="col-sm-9">
	              <textarea name="comment" rows="10" id="input-comment" class="form-control" />{{ comment }}</textarea>
	              {% if (error_comment) %} 
	              <div class="text-danger">{{ error_comment }}</div>
	              {% endif %} 
	            </div>
	          </div>
	          {{ captcha }} 
	          <input type="hidden" name="auto_approve" value="{{ auto_approve }}" />
			  <div class="col-sm-3"></div>
	          <div class="col-sm-10 submit-btn buttons text-left">
			  		<input class="btn btn-primary" type="submit" value="{{ button_submit }}" title="{{ button_submit }}" />
			  </div>
	        </form>
        {% endif %}
      </div>
      <div class="buttons text-right"></div>
      
     {% endif %}
    {{ content_middle }}{{content_bottom }}</div>
  {{column_right }}</div>
</div>
{{ footer }}
<style>
    .single-blog {
        float: none;
        margin: 0 auto;
    }
</style>