{{ header }}
<div id="account-address" class="container wrapper_container">
    <div class="breadcrumb-container">
    <h1 class="page-title">{{ heading_title }}</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6 column_left' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9 column_center' %}
    {% else %}
    {% set class = 'col-sm-12 column_full' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% if addresses %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          {% for result in addresses %}
               <form  action="{{ result.delete }}" method="post" enctype="multipart/form-data" id="form-address-{{ result.address_id }}">
                <tr>
                  <td class="text-left">
                     {% if result.address_type %}
                      <div class="status">
                        {{ text_yes }}
                      </div>
                      {% else %}
                      <div class="status">
                        {{ text_no }}
                      </div>
                    {% endif %}
                    {{ result.address }}
                    <div class="btninfo">
                      <a href="{{ result.update }}" class="btn btn-info">{{ button_edit }}</a> 
                      <a href = "{{ result.delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="return confirm('{{ text_confirm }}')">{{ button_delete }}</a>
                    </div>
                  </td>
                </tr>
              </form>
          {% endfor %}
        </table>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        
        <div class="pull-left"><a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a></div>
        <div class="pull-right"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div> 
      </div>
      {{ content_middle }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}