{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
  <h2 class="page-title">{{ heading_title }}</h2>
  <p>{{ error }}</p>
  {{ content_bottom }}
</div>
{{ footer }}