<div class="filterbox">
  <div class="page-title hidden-sm hidden-xs">{{ heading_title }}</div>
  <div class="block-title clearfix  hidden-lg hidden-md collapsed" data-target="#filterbox-container" data-toggle="collapse">
    <span class="page-title">{{ heading_title }}</span>
    <span class="navbar-toggler collapse-icons">
      <i class="fa fa-angle-down add"></i>
      <i class="fa fa-angle-up remove"></i>
    </span>
  </div>
  <div id="filterbox-container" class="collapse data-toggler">
    <div class="list-group-filter"> 
     
      <div id="filter" class="panel-group" role="tab"> 
         {% set index = 0 %}
      {% for filter_group in filter_groups %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne{{index}}">
            <a data-toggle="collapse" href="#tab-filter{{index}}" data-parent="#filter" aria-expanded="{% if index == 0 %}true{% else %}false{% endif %}" class="list-group-item group-name {% if index == 0 %} {% else %}collapsed{% endif %}">{{ filter_group.name }}
              <div class="plus-icon">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve">  <image id="image0" width="14" height="14" x="0" y="0"
                        href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
                    cwAAAHYAAAB2AU57JggAAAAHdElNRQfmCAEJMwPmtnGeAAADuHpUWHRSYXcgcHJvZmlsZSB0eXBl
                    IHhtcAAASImdVluSqzoM/NcqzhJAsiW8nCTA36m6n3f5p1vOJBBIamZChRDbklqtF/L/3//kDz5j
                    aU3sZmtMMfjo5levUXRw9erhzRebVZf1er2uqlhvXrhSw2qZbShzDMVwdvImZYpLQLBaXMpSi+MX
                    Cs0gpGqrLTrYLSa7xOQQ9JnGfNSB//3mSxj3hBaApvhKHHbpG4/jieSpBmtXSpSHhA51KnMdRAlu
                    jVwy18UGnYFnwAUVFtawNppbweXYvWFVLb+64rfiPpqKznnsgqWC+2ihw8uld/cUKHCyainFX1xT
                    yU26N0XBNdgF7qyRH10Cp3RJxJGWG69Eorgr7nM3AERhgfiQkZjgFixwf48CEBAqBEK9JVMNDOHE
                    176PAsLWALFE1YndxoIEH/GmseUZIjyb4HGGKxPwkLwx6V5fVULETggYAEH9Ruele8+DuFcIVoae
                    rsJqVzweFSOfJngCRHCYT4N8D/gd90H86YOc81JmlMBPTEyy5wYK5xNHLEqp4T0k58rlTPteOSs0
                    EHScWatmGqxJMsqV6jujwpzp9mmjMFMqFJEHrTSy+u1QXUeuQLamZSjTqWbroADS2rS9MVFL6b80
                    cK+7rLXBpryPtaAIalYc6j0T/MqyxDPKeKd2dqZMc4/W1cpe7we1FXX+Xm0V1ph3qOMZ5O+qlq47
                    S+DinnU+U10GuvEZTbdmMi6oAeI4UE0GWWs3it+97mjsrUBjf6us+hVmG0uKEmGCNoV+jz7ZCpCj
                    U7DnIEXgjGadPbjIbIcqpmASsmQmgWyqkn4I6dhyRlyMbacZZopNsNY5Ag/o33jCKiCha43G8VCx
                    1phAINvQ+iE6pQJ8DwiYhhaPnvCFYDcw8CSAl0jOGDGGAD0QNoMY75i4OGNlMs6Z2ZXtV5CwaP9A
                    NSXcCu1gE5vTNlfu6BjT1kcnEN22aGUL98FX6SihjmPInQGIZASGyGGOrAZEDEpCkKSO4DDBMgVR
                    zZb4IPg1AraoMJ4zakAX7TkiJCcVwhjjfm4gQxoce3aiC98OvuZH0r0pYyhKHrbH3+TJa5q8ui2f
                    /P7s9h6ARCDYtYP9RqGetZZUJ10f2yd6S4HakZ6XLFVG9DvdkbktH7rj+hP6pdcucLCJl99SbyG/
                    K9FjhcoewQ+p3/RI2XP/e+plz/3HwbTljlLkjQZ6Y8sBfY+Pro/Xu03R5Oz9WGuUk09vZAf1+fb4
                    VL99Zc5x1LdOXtwr3ctwa3/nln/iB7p1W9w/KQAAAFBJREFUGNOtz8ENQFAQBNBHvn5ElPnVowmh
                    IIKrldiTuU1eMpvlmUl91hKwD+2FR8RWkhTj7BmxUQ12cBmxaEBnTWdjZvP3zdfOX6+UDLeINyEa
                    CjYZnU/FAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTA4LTAxVDA5OjUxOjAzKzAwOjAwre30bwAA
                    ACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wOC0wMVQwOTo1MTowMyswMDowMNywTNMAAAAASUVORK5C
                    YII=" />
                    </svg>
              </div>
              <div class="minus-icon">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="14px" viewBox="0 0 14 14" enable-background="new 0 0 14 14" xml:space="preserve">  <image id="image0" width="14" height="14" x="0" y="0"
                    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ
                cwAAAHYAAAB2AU57JggAAAAHdElNRQfmCAEJMw6YBw0jAAADsHpUWHRSYXcgcHJvZmlsZSB0eXBl
                IHhtcAAASImdVluS6joM/NcqzhISyZbi5QBJ/k7V/bzLP90yAwkJ1MyQwhg/pFbrFfn/73/yB5+x
                tCZ2szWmGHx086vXKDq4evXw5ovNqst6vV5XVaw3L1ypYbXMNpQ5hmI4O3mTMsUlcLFaXMpSi+MX
                As1wSdVWW3SwW0x2iclx0Wcq81EH/vebL2HcE2oAmuIrcdilbzyOJ5KnGKxdeaM8buhQpzLXQZTg
                1sglc11s0Bl4BjwQYWENa6O5FTyO3RtW1fKrK34rxtFUdM5jFywVjKOFDi+P3s1ToMDJqqUUfzFN
                JTdp3hQFz2AXmLNGfnQJnNIlEUdqbnwSiWJUjHNXAERhAf+QkZhgFjRwf48CEOAqOEK9JVMNDOHE
                176PAsLWALFE1Ynd+oIEH/GmsuXpIsxNMJ1hygQ8JG9MutdXkbhiJwQMgKB+o/HSredBjBUXK11P
                U6G1Cx6PghFPEywBIhjM2SDfA37Hfbj+tEHOeSkzUuAnKibZcwOB84khFqXU8O6Sc+FyJn0vnBka
                cDrOrFUzDNYkGelK8Z1RYcx0/dRRGCkVgsiDVipZ/XbIriNXIFtTM4TpVLN08ALC2rS9UVFL6b9U
                cM+7zLXBphzHWpAENTOuZfaNemVaYo403omdnSHT3KN1sbKX+0HsiPX3Yqswx7xDHc8gf1e0dNmZ
                Ahf3zPOZ4tLRjXMU3ZrBuCAHiONANRlkrt14/W51R2NvLzTWt8qsX6G2MaV4I0xQplDvUSdbAXJU
                CsJGiMAYzTx7cJHRDlEMwSRkyUgC2RQl/RDCsWWPuEBIs3sxZa3ROfuLZwlGZltBU5hxZsTT18hS
                lZzQJLYAFtpXBAxDi0dN+EKwaxiYCbQlkjNGaCgUUU0qIjq0qZzZhCBA6cYaUFqIFcLDAcUR5A1o
                QrfImR7Q0aett04gum3Ryhbug69y56sBh1kAAzjrfKFBRcYVYwrfRKTkyOifhOm9e2GDhpDerxaw
                RYX2nF4DumjPFiHZqeDGGPd9AxHSYNizEl3ova/+kXRv0hiCkoft8TdxcgiTF7Plk92fzd4DkAg4
                u3aw30jUs9KS4qTLY/lEbSkQO9LykqlKj36nOrI4yofquP6Efum5Cxws4uXX1Lv8LkWPGSp7BD+k
                flMjZc/976mXPfcfG9OWO94ib1TQC1s26Lt/dH283m2SJnvvx1zjPfn0RnYQn2+PT/HbV+ZsR33r
                5MW90rx0t/Z3bvkHhPC6En/f1t0AAAAjSURBVBjTY/zPgBswMQwySUaGAIYoHHJLmRhw++U/45Dy
                JwDoOgVlscWPqgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMi0wOC0wMVQwOTo1MToxNCswMDowMKTg
                yn8AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjItMDgtMDFUMDk6NTE6MTQrMDA6MDDVvXLDAAAAAElF
                TkSuQmCC" />
                </svg>
              </div>
            </a>
          </div>
          <div id="tab-filter{{index}}" class="panel-collapse collapse {% if index == 0 %} in {% endif %}" role="tabpanel" aria-labelledby="headingOne">  
            <div class="list-group-item">
              <div id="filter-group{{ filter_group.filter_group_id }}">{% for filter in filter_group.filter %}
                <div class="checkbox">
                  <label>{% if filter.filter_id in filter_category %}
                    <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />
                    {{ filter.name }}
                    {% else %}
                    <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />
                    {{ filter.name }}
                    {% endif %}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
         {% set index = index + 1 %}
      {% endfor %}
      </div>

     
    </div>
    <div class="panel-footer text-left">
      <button type="button" id="button-filter" class="btn btn-primary">{{ button_filter }}</button>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
  

  
});
  $( "input[name^=\'filter\']" ).click(function() {
     $('#button-filter').trigger('click');
  });
//--></script> 

<style>
    #filter input[type=checkbox] {
        top: 6px;
    }
</style>
