<section class="fivebannerblock">
  <div class="container"> 
    <div class="row">
          <h3 class="home-title">{{ title }}</h3>
          <div class="banner-left col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="bannerblock1 bannerblock col-sm-12 col-md-12 col-xs-12">
                <a href="{{ banner1_link }}">
                  <img src="{{ banner1_image }}" alt="banner" title="{{ product.name }}" class="img-responsive" />
                  <div class="banner-data">
                    <div class="banner-title1">{{ banner1_title }}</div>
                    <div class="banner-title">{{ banner1_title }}</div>
                    <div class="banner-title3">{{ banner1_title }}</div>
                    <div class="banner-btn">{{ banner1_btn }}</div>
                  </div>
                  <h3 class="blocks-title">{{ categorytitle1 }}</h3>
                </a>  
              </div> 
          </div>
          <div class="banner-right col-lg-6 col-md-6 col-sm-12 col-xs-12">

              <div class="bannerblock2 bannerblock col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <a href="{{ banner2_link }}">
                  <img src="{{ banner2_image }}" alt="banner" title="{{ product.name }}" class="img-responsive" />
                  <div class="banner-data">
                    <div class="banner-title">{{ banner2_title }}</div>
                  </div>
                </a>  
              </div>
              <div class="bannerblock3 bannerblock col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <a href="{{ banner3_link }}">
                  <img src="{{ banner3_image }}" alt="banner" title="{{ product.name }}" class="img-responsive" />
                  <div class="banner-data">
                    <div class="banner-title">{{ banner3_title }}</div>
                  </div>
                </a>  
              </div>
               <div class="bannerblock4 bannerblock col-lg-6 col-sm-6 col-md-6 col-xs-6"> 
                  <a href="{{ banner4_link }}">
                    <img src="{{ banner4_image }}" alt="banner" title="{{ product.name }}" class="img-responsive" />
                    <div class="banner-data">
                      <div class="banner-title">{{ banner4_title }}</div>
                    </div>
                  </a>  
               </div>
               <div class="bannerblock5 bannerblock col-lg-6 col-sm-6 col-md-6 col-xs-6"> 
                  <a href="{{ banner5_link }}">
                    <img src="{{ banner5_image }}" alt="banner" title="{{ product.name }}" class="img-responsive" />
                    <div class="banner-data">
                      <div class="banner-title">{{ banner5_title }}</div>
                    </div>
                  </a>  
               </div>
          </div>
  </div>
  </div>
</section>     