<section class="instagramblock clearfix">
    <div class="container">
            <div class="home-title">
                <a href="https://www.instagram.com/{{ username }}" target="_blank" rel="nofollow">    
                {{ title }}
                </a>
            </div>
        <div class="instagramblock">
            <div id="instagram-carousel" class="grid-container">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var userFeed = new Instafeed({
                get: 'user',
                target: "instagram-carousel",
                userId: '{{ userid }}',
                accessToken: '{{ accesstoken }}',
                resolution: 'standard_resolution',
                sortBy: '{{ sortby }}',
                limit: 3,
                template:'<div class="item"><a href={{"{{link"}}}} target="_blank" id={{"{{id"}}}}><img src={{"{{image"}}}} /><span class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span></a><div class="text-container"><span class="likes"></span><span class="comments"></span></div></div>',
                links: false,
                after: function(){
                    // $('#instagram-carousel.owl-carousel').owlCarousel({
                    //     loop:true,
                    //     dots:false,
                    //     nav:false,
                    //     autoplay:false,
                    //     margin:30,
                    //     autoplayTimeout:5000,
                    //     smartSpeed: 2500,
                    //     rtl: $('html').attr('dir') == 'rtl'? true : false,
                    //     autoplay:true,
                    //     responsive:{
                    //         0:{
                    //             items:2,
                    //             margin:15
                    //         },
                    //         544:{
                    //             items:2
                    //         },
                    //         768:{
                    //             items:3
                    //         },
                    //         992:{
                    //             items:4
                    //         },
                    //         1200: {
                    //             items:3
                    //         },
                    //         1500: {
                    //             items:3
                    //         }
                    //     }
                    // });
                    insertDummyData();
                    resizeInstagramTitle();
                }
            });
            userFeed.run();
        });
        function niceNumberDisplay(num) {
            var n = parseFloat(num);
            if(n > 1000000) {
                return Math.round(n / 1000000) + 'm';
            } else if(n > 1000) {
                return Math.round(n / 1000) + 'k';
            } else {
                return n.toFixed(0);
            }
        }
        function resizeInstagramTitle() {
            $('.instagramblock .home-title.special').css('width',$('#instagram-carousel .owl-item').css('width'));
        }
    </script>
</section> 
