<div id="_desktop_social" class="block-social">
  <div id="social-container">
    <ul>
      {% if facebook %}
        <li><a class="facebook" href="{{ facebook }}" target="_blank" ><i class="fa fa-facebook"></i></a></li>
      {% endif %}
      {% if twitter %}
        <li><a class="twitter" href="{{ twitter }}" target="_blank" ><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if youtube %}
        <li><a class="youtube" href="{{ youtube }}" target="_blank" ><i class="fa fa-youtube"></i></a></li>
      {% endif %}
      {% if gplus %}
        <li><a class="googleplus" href="{{ gplus }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
      {% endif %}
      {% if rss %}
        <li><a class="rss" href="{{ rss }}" target="_blank" ><i class="fa fa-rss"></i></a></li>
      {% endif %}
      {% if pinterest %}
        <li><a class="pinterest" href="{{ pinterest }}" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
      {% endif %}
      {% if vimeo %}
        <li><a class="vimeo" href="{{ vimeo }}" target="_blank" ><i class="fa fa-vimeo"></i></a></li>
      {% endif %}
      {% if instagram %}
        <li><a class="instagram" href="{{ instagram }}" target="_blank" ><i class="fa fa-instagram"></i></a></li>
      {% endif %}   
    </ul>
    </div>
</div>